<header class="header">
    <div class="logo-box">


        <img src="../../assets/imag/logo_transparent.png" alt="logo" class="logo">


    </div>
    <div class="text-box">

        <h1 class="heading-primary">
            <span class="heading-primary-main"> 4Studs</span>
            <span class="heading-primary-sub">make student life easier </span>
        </h1>
        <li routerLinkActive="active"> <a routerLink="/login" class="btn btn-white">Discover our apps</a></li>
    </div>

</header>

<div class="forIasi">

    <div class="iasi">
        <div class="thumb">
            <a href="#">
                <span class="spn">FEAA leads, other follow</span>
            </a>
        </div>

    </div>

</div>
<div class="footer">

    <app-footer></app-footer>
</div>
