    $text: #9c9c9c;
    $input-bg-color: #fff;
    $input-text-color: #000000;
    $button-bg-color:#aa0b0b;
    $button-text-color: #fff;
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.7;
        z-index: -1;
    }
    
    .view {
        margin-left: 10rem;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 9vh;
        margin-top: 5rem;
        .fora {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 0.7vw;
            margin: 2vw;
            .infora {
                margin-right: 10%;
                width: 17vw;
                .ahd {
                    font-size: 0.7vw;
                    color: white;
                    margin-bottom: 3rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    
    .page1 {
        width: 19vw;
        height: 18vh;
        padding: 30px;
        background: #aa0b0b;
        border-left: 30px solid #aa0b0b;
        transform: rotate(-3deg) skewX(10deg) scale(.8);
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
        .nume {
            margin: 0 0 25px 0;
            padding: 0;
            text-align: center;
            font-size: .7vw;
            color: white;
            font-weight: 500;
        }
    }
    
    .page1:before {
        content: "";
        width: 30px;
        height: 100%;
        background: #aa0b0b;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewY(-45deg) translate(-57px, -43px);
    }
    
    .page1:after {
        content: " FEAA LEADS, OTHERS FOLLOW";
        color: #aa0b0b;
        font-size: 1vw;
        width: 106%;
        height: 30px;
        background: #CCC;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: skewX(-45deg) translate(-11px, 30px)
    }
    
    .page1 {
        transform: rotate(0deg) skewX(0deg) scale(.8);
        width: 18vw;
        height: 54vh;
        .nume {
            font-size: 1.3vw;
        }
    }
    
    .forImg {
        text-align: center;
        .imag {
            border-radius: 25px;
            width: 40%;
            margin-bottom: 1rem;
        }
    }
    
    .contact {
        background-color: white;
        color: black;
        padding: 3.5rem 3rem;
        border-radius: 15px;
    }
    
    .container {
        animation-name: moveSearch;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .btn {
        display: inline-block;
        background: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
        &--primary {
            background: $button-bg-color;
            color: $button-text-color;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
            border-radius: 15px;
            padding: 2.45rem 3.3rem;
            &:hover {
                background: darken($button-bg-color, 4%);
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
            }
            &:active {
                background: $button-bg-color;
                box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
            }
        }
        &--inside {
            margin-left: -96px;
        }
    }
    
    .form {
        &__field {
            width: 360px;
            background: #fff;
            color: $input-text-color;
            font: inherit;
            font-size: 1.6rem;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
            border: 0;
            outline: 0;
            padding: 22px 18px;
            border-radius: 15px;
        }
        &:hover {
            transform: translateY(-3px);
        }
    }
    
    .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 30%;
        transition: all .2s;
        font-size: 1.6rem;
    }
    
    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        animation: none;
    }
    
    .btn:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    }
    
    .btn-white {
        background-color: white;
        color: #aa0b0b;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 30%;
        transition: all .2s;
        font-size: 1.6rem;
        animation: wiggle 3s linear 13s 3;
        &:hover {
            background-color: #aa0b0b;
            color: white;
        }
    }
    
    li {
        list-style-type: none;
    }
    
    .forbuton {
        display: flex;
        justify-content: center;
        margin-top: 45vh;
        margin-bottom: 27vh;
    }
    
    .forbuton1 {
        position: relative;
        left: 42%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 27vh;
        margin-bottom: 16vh;
    }
    
    .btn1-white {
        background-color: #aa0b0b;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 30%;
        transition: all .2s;
        font-size: 1.6rem;
    }
    
    @keyframes wiggle {
        0%,
        7% {
            transform: rotateZ(0);
        }
        15% {
            transform: rotateZ(-7deg);
        }
        20% {
            transform: rotateZ(10deg);
        }
        25% {
            transform: rotateZ(-10deg);
        }
        30% {
            transform: rotateZ(6deg);
        }
        35% {
            transform: rotateZ(-4deg);
        }
        40%,
        100% {
            transform: rotateZ(0);
        }
    }