<div class="header">
    <div>
        <img class="imag" src="../../assets/imag/booksho.jpg" alt=""></div>

    <div id="aa" class="collapse navbar-collapse navbar-inverse">

        <ul class="nav navbar-nav">
            <li routerLinkActive="active"> <a routerLink="adaugaMateriale">Adauga anunt</a> </li>

        </ul>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"> <a routerLink="articole">Vezi anunturi</a> </li>
        </ul>
        <div class="leave">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"> <a style="font-weight: 600;" routerLink="/home" (click)="refresh()">Back to app <i style="color: red; text-align:center;" class="glyphicon glyphicon-remove-circle"></i></a> </li>

            </ul>
        </div>
    </div>
    <div>
        <img class="imag" src="../../assets/imag/booksho.jpg" alt=""></div>
</div>
<router-outlet></router-outlet>
<div class="footer">

    <app-footer></app-footer>
</div>
